.test {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  width: 400px;
}

table,th,td {
  border-collapse: collapse;
  border: 1px solid black;
}

.amountLimited {
  color: red;
}
